[Unit]
Description=Gunicorn instance to serve AirBnB Clone
# Start after the network is available
After=network.target

[Service]
# Run the service under the ubuntu user
User=ubuntu
# set working directory
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
# starts gunicorn
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /home/ubuntu/airbnb-logs/airbnb-error.log
# Stops the gunicorn
ExecStop=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /home/ubuntu/airbnb-logs/airbnb-error.log
# Restarts the service if it fails
Restart=always
# Redirect stardand output to ssyslog
StandardOutput=append:/tmp/airbnb-access.log
# Redirect standard error to syslog
StandardError=append:/tmp/airbnb-error.log
# Identier for syslog massages
SyslogIdentifier=gunicorn

[Install]
# Enables the service for multi-user.target
WantedBy=multi-user.target
